@{
    ViewData["Title"] = "Pagina principal";
}
<div class="underlinedText">
    <h1>TP 04 - Paquetes Turisticos</h1>
</div>

<div class="pConMargin">
    <p>Cliquea <a href='@Url.Action("SelectPaquete","Home")'>aquí</a> para crear un paquete</p>
</div>



@foreach (string k in ViewBag.dPaquetes.Keys)
{
    <div class="listaPaquetes">
        <div class="paquetesPosicion">
                <p>Paquete a @k</p>
            <img src="@Url.Content("~")/imgs/hoteles/@ViewBag.dPaquetes[k].Hotel" alt="hotel">
            <img src="@Url.Content("~")/imgs/aereos/@ViewBag.dPaquetes[k].Aereo" alt="aereo">
            <img src="@Url.Content("~")/imgs/excursiones/@ViewBag.dPaquetes[k].Excursion" alt="excursion">
        </div>
    </div>
}

